@import "tailwindcss";

@theme {
  --color-bg: #FFFFFF;
  --color-surface: #FFF8EE;
  --color-primary: #F5A623;
  --color-primary-dark: #D4881A;
  --color-text-main: #111827;
  --color-text-muted: #64748B;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-main);
}
