@import "tailwindcss";

@theme {
  --color-bg: #FFFFFF;
  --color-surface: #F4F4F4;
  --color-primary: #0ABAB5;
  --color-primary-dark: #089A96;
  --color-text-main: #111827;
  --color-text-muted: #64748B;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-main);
}
